:root {
  --color-purple: #2155cd;
  --color-body-background: #f2f6fa;
  --color-text: #2c3e50;
  --color-head-down-blink: #f2f6fa80;
  --color-head-down-gecko: #f2f6fad8;
  --color-card-background: #fafafa;
  --color-radio: #0e0e0e20;
  --color-link: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-purple: #6a67ce;
    --color-body-background: #121212;
    --color-text: #fff;
    --color-head-down-blink: #12121280;
    --color-head-down-gecko: #121212d8;
    --color-card-background: #282c34;
    --color-radio: #bebdbd90;
    --color-link: #fff;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 160px;
}

body {
  background-color: var(--color-body-background);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
}

@mixin card-shadow {
  box-shadow: 0px 0.9px 1.6px rgba(0, 0, 0, 0.01),
    0px 1.9px 3.6px rgba(0, 0, 0, 0.014), 0px 3.4px 6.3px rgba(0, 0, 0, 0.017),
    0px 5.4px 10px rgba(0, 0, 0, 0.02), 0px 8.3px 15.5px rgba(0, 0, 0, 0.023),
    0px 13px 24.1px rgba(0, 0, 0, 0.026), 0px 21.5px 40px rgba(0, 0, 0, 0.03),
    0px 43px 80px rgba(0, 0, 0, 0.04);
}

.sc-input {
  background: transparent;
  border: 2px solid var(--color-text);
  border-radius: 30px;
  text-align: center;
  color: var(--color-text);

  &:focus {
    outline: 4px solid var(--color-purple);
    border-radius: 2rem;
  }
}

.card {
  background-color: var(--color-card-background);
  padding: 60px;
  border-radius: 30px;
  @include card-shadow;
}

.loading {
  width: 30px;
  height: 30px;
  border: 3px solid var(--color-purple);
  border-top-color: transparent;
  border-radius: 100%;

  animation: circle infinite 0.75s linear;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
